@inherits BaseCrudPage
@page "/crud/codeeval";


<CrudPageLayout>
    <!-- table -->
    <div class="mt-2">
        <Button Class="modal-trigger" data-target=@_modalCreateId Color="ButtonColor.Green"> New code eval </Button>
    </div>
    <table class="table table-sm table-striped" id="@EltId">
    </table>
    <!-- end table-->
    <!-- modal remove -->
    <ModalRemoveItem Modaltitle=@deleteModalTitle
                     ModalRemoveId="@_modalRemoveId"
                     HandleRemove=@HandleRemove />
    <!-- end modal remove -->
    <!-- modal add -->

    <ModalAddItem ModalTitle=@createModalTitle
                  ModalCreateId="@_modalCreateId"
                  HandleCreate="HandleCreate">
        <CodeEvalForm Exercises="exerciseDtos" IsNew=@true @bind-Dto=NewDto />
    </ModalAddItem>
    <!-- end modal add -->
    <!-- modal update -->
    <ModalUpdate ModalId="@ModalUpdateId"
                 ModalTitle="@updateModalTitle"
                 HandleUpdate=HandleUpdate>
            <CodeEvalForm Exercises="exerciseDtos" Id="@SelectedId" @bind-Dto=UpdateDto />
    </ModalUpdate>

    <!-- end modal update -->
</CrudPageLayout>
