@page "/crud/quizvar"
@inherits BaseCrudPage

<CrudPageLayout>
    <!-- table -->
    <div class="mt-2">
        <Button Class="modal-trigger" data-target=@_modalCreateId Color="ButtonColor.Green"> New quiz variant </Button>
    </div>
    <table class="table table-sm table-striped" id="@EltId">
    </table>
    <!-- end table-->
    <!-- modal remove -->
    <ModalRemoveItem Modaltitle="Delete course"
                     ModalRemoveId="@_modalRemoveId"
                     HandleRemove=@HandleRemove />
    <!-- end modal remove -->
    <!-- modal add -->

    <ModalAddItem ModalTitle="Create course"
                  ModalCreateId="@_modalCreateId"
                  HandleCreate="HandleCreate">
        <QuizVariantForm IsNew=@true @bind-Dto=NewDto />
    </ModalAddItem>
    <!-- end modal add -->
    <!-- modal update -->
    <ModalUpdate ModalId="@ModalUpdateId"
                 ModalTitle="Update code evaluation"
                 HandleUpdate=HandleUpdate>
        <QuizVariantForm Id="@(1)" />
    </ModalUpdate>

    <!-- end modal update -->
</CrudPageLayout>
