<Label For="@CheckBoxId">
    <Input Id="@CheckBoxId" Name="@Name" InputType="Enums.InputType.Check" ValueChanged="Changed" checked="@Checked" Disabled="@Disabled" />
    <span>@Text</span>
</Label>