@using Components.UI.Utils;
@inherits NewComponent;


@* Afiseazaa label-ul cu campul de for astfel cand se da click se da trigger la eventuri 
    pt campurile clonate si pentru campurile ascunse.
    Campurile clonate nu pot da trigger la event-urile server side.
*@
<div class="form-check">
    <label class="form-check-label" for="@GetId()">
        <input name="@Name"
               id="@GetId()"
               class="form-check-input @Class"
               type="checkbox"
               value="@Checked"
               checked="@Checked"
                @onchange="ChangeCheck"
               disabled=@Disabled
               style="float:unset;margin-left:unset;pointer-events:none">
        @ChildContent
    </label>
</div>