@using Components.UI.Enums;
@switch (Size)
{
    case HeadingSize.Is1:
        <h1 id="@ElementId" class="@Class">@ChildContent</h1>
        break;
    case HeadingSize.Is2:
        <h2 id="@ElementId" class="@Class">@ChildContent</h2>
        break;
    case HeadingSize.Is3:
        <h3 id="@ElementId" class="@Class">@ChildContent</h3>
        break;
    case HeadingSize.Is4:
        <h4 id="@ElementId" class="@Class">@ChildContent</h4>
        break;
    case HeadingSize.Is5:
        <h5 id="@ElementId" class="@Class">@ChildContent</h5>
        break;
    case HeadingSize.Is6:
        <h6 id="@ElementId" class="@Class">@ChildContent</h6>
        break;
    default:
        break;
}