@inherits BaseLicentaComp
<p style="font-weight: bold;font-size: 1.5rem;">@Exercise.Enunciation</p>
@{
    int i = -1;
    foreach (var item in Exercise.QuizVariants)
    {
        int x = ++i;
        <p>
            <RadioButton RadioId=@($"radioExercise_{item.ExerciseId.ToString()}_{x}")
                         Name="@item.ExerciseId.ToString()"
                         Text="@item.Text"
                         Changed="()=>ChangeSelected(x)"
                         Value="@x.ToString()" />
        </p>
    }
}

@if (isCorect == false)
{
    <p class="red-text" style="font-weight: bold;"> raspuns incorect </p>
}
else if (isCorect == true)
{
    <p class="green-text" style="font-weight: bold;"> raspuns corect </p>
}

<Button Clicked="@HandleCheckQuiz">
    Submit
    <i class="material-icons right">send</i>
</Button>
