@typeparam TValue
@attribute [CascadingTypeParameter(nameof(TValue))]


<CascadingValue Value="@this" IsFixed>
    <div id="hiddenvalue" style="display:none">
        @SelectedValue
    </div>

    <div class="row @RowClass" style="@RowStyle">
        @if (Label != null)
        {
            <label for="@ElementId" class="form-label @LabelClass">@Label</label>
        }
        <div>
            <select id="@ElementId" class="form-select @Class" @onchange="ChangeSelectedValue" value="@SelectedValue" aria-label=@AriaLabel disabled="@Disabled">
                @Content
            </select>
        @Error
        </div>
    </div>
</CascadingValue>