@using Licenta.SDK.Localization;
@inherits BaseCetComponent<ComponentsResource>


<div class="pagetitle">
    <h1>@Localizer[_paths.LastOrDefault() ?? ""]</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">@Localizer["PageTitle_Home"]</a></li>
            @for (int i = 0; i < _paths.Count - 1; i++)
            {
                <li class="breadcrumb-item"><a href="@GetHrefByPath()">@Localizer[_paths[i]]</a></li>
            }
            <li class="breadcrumb-item active">@Localizer[_paths.LastOrDefault() ?? ""]</li>
        </ol>
    </nav>
</div><!-- End Page Title -->