@using System.Globalization;




<div class="me-3" style="font-size:15px">

    <div class="input-field col s12 language-picker-field" style="margin-top: 9px;">
        <select value="@_cultureName" @onchange=HandleChangeCulture>
            @foreach (var culture in suportedCultures)
            {
                <option value="@culture.Name">@culture.TwoLetterISOLanguageName</option>
            }
        </select>
    </div>

    @* <Select TValue="string"
            SelectedValue=@_cultureName
            SelectedValueChanged="@SetCultureInfo">
        <Content>
            @foreach (var culture in suportedCultures)
            {
                <SelectItem TValue="string" Value="culture.Name"> @culture.TwoLetterISOLanguageName</SelectItem>
            }
        </Content>
    </Select> *@
</div>